{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "places/navbar.html" %}
    <br><br><br><br>
    <center>
        <div class="status">
            {% if status %}
                <h1>وضعیت:</h1>
                <p>{{ status }}</p>
            {% endif %}
    
            {% if name %}
                <h2>اطلاعات شما:</h2>
                <p>نام و نام خانوادگی: {{ name }}</p>
                <p>شماره تلفن: {{ phone }}</p>
                <p>آدرس: {{ address }}</p>
            {% endif %}
    
            {% for c in cart_items %}
                <p>تعداد صندلی رزرو شده:{{total_quantity}}</p>
                <p>مجموع:{{total_price}} تومان</p>
            {% endfor %}
        </div>
        <a href="{% url 'gateway' %}">ادامه</a>
    </center>
</body>
</html>