{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "places/navbar.html" %}
    <br><br><br><br>
    <center>
        <div class="status">
            {% if status %}
                <h1>وضعیت:</h1>
                <p>{{ status }}</p>
            {% endif %}
    
            {% if name %}
                <h2>اطلاعات شما:</h2>
                <p>نام و نام خانوادگی: {{ name }}</p>
                <p>شماره تلفن: {{ phone }}</p>
                <p>آدرس: {{ address }}</p>
            {% endif %}
            
            <hr>
            <div>
                <h3>صورتحساب</h3>
                {% for i in cart_items %}
                    <p>{{i.place.place_name}}</p>
                    <p>{{i.place.event}}</p>
                    <p>تعداد صندلی رزرو شده:{{i.quantity}}</p>
                    <p dir="rtl">قیمت:{{i.place.price}} {{i.quantity}}x </p>
                    <hr>
                {% endfor %}
                <p>مجموع:{{total_price | intcomma}} تومان</p>
            </div>
        </div>
        <a href="{% url 'gateway' %}">ادامه</a>
    </center>
</body>
</html>