{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/#page-top">!ملاقات</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                منو
                <i class="fas fa-bars ms-1"></i>
            </button>
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/#services">خدمات</a></li>
                <li class="nav-item"><a class="nav-link" href="/#category">دسته بندی</a></li>
                <li class="nav-item"><a class="nav-link" href="/#about">درباره ما</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">ارتباط با ما</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">پروفایل</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">خروج</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ورود</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">ثبت نام</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'cart-view' %}"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <form action="{% url 'search' %}" method="GET" class="search-form">
                <input type="text" name="query" placeholder="ایونت مورد نظر" required class="search-input" />
                <button type="submit" class="search-button"> <i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>
