{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/9b12e553ef.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include "places/navbar.html" %}
    <br><br><br><br>
    <h3 class="mb-3 text-center">تغییر رمز عبور</h3>
    {% if form.errors %}
        <div class="alert alert-danger">{{form.errors}}</div>
    {% endif %}
    <center>
        <form method="post" id="change-password-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                    <i class="fa fa-lock"></i>
                    {{ field }}
                </div>
            {% endfor %}
        
            <div class="my-3">
                <button class="btn btn-primary"  type="submit">تغییر گذرواژه</button>
            </div>
        </form>
    </center>
</body>
</html>
